body
{
  padding: 50px;
  font-family: 'Ubuntu', sans-serif;
  background: #000;
  background-image: url('../microphone.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top; 
  margin-left: 5%;
  margin-right: 5%;
}

a
{
  color: #FFF;
}

hr
{
  margin-top: 21px;
  margin-bottom: 21px;
  border-top: transparent;
}

.capitalize
{
  text-transform:capitalize;
}

pre
{
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.parameter-cell
{
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.navbar
{
  background: transparent;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #CCD;
  padding-left: 8%;
  padding-right: 8%;
  
}

.navbar-inverse
{
  background-color: transparent;
  border-color: #000000;
}

@media (max-width:767px) {
  .navbar-inverse
{
  background-color: #000;
  border-color: #000000;
}
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
  color: #6f6f6f;
  background: #F0FFFF;
  border: 1px solid #0CE;
  border-bottom-color: transparent;
  border-radius: 5px 5px 0 0;
  cursor: default;
}

.nav-tabs 
{
  border-bottom: 1px solid #0CE;
}

.btn-primary
{
  /* background: #09C; */
  background: radial-gradient(#0BE, #09C);
}